<!DOCTYPE html>
<html>
<!-- this template is got from href: "https://colorlib.com/wp/free-404-error-page-templates/" -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{{ block 'title' }}}

  <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
  <link rel="stylesheet" href="/css/error.css">
</head>

<body>
  <div id="notfound">
    <div class="notfound">
      <div class="notfound-404">
        <h3>{{{ block 'error-title' }}}</h3>
        <h1>
          {{{ block 'error-status' }}}
        </h1>
      </div>

      <h2>{{{ block 'error-message' }}}</h2>
    </div>
  </div>
</body>
</html>