<!DOCTYPE html>
<html>
<head>

	{{{ block 'title' }}}

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="/css/main.css">
	{{{ block 'css' }}}

</head>
<body>

	{{{ body }}}

	{{{ block 'scripts' }}}
</body>
</html>