{{#extend 'title'}}
  <title>404 - 找不到請求的頁面</title>
{{/extend}}

{{#extend 'error-title'}}
  糟糕！找不到請求的頁面！
{{/extend}}

{{#extend 'error-status'}}
  <span>4</span><span>0</span><span>4</span>
{{/extend}}

{{#extend 'error-message'}}
  請確認你的網址是否正確！
  <hr>
  請按<a href="/">這裡</a>回首頁
{{/extend}}