{{#extend 'title'}}
  <title>資料庫連線異常</title>
{{/extend}}

{{#extend 'error-title'}}
  資料庫連線異常，請稍後再試！
{{/extend}}

{{#extend 'error-status'}}
  <span>5</span><span>0</span><span>0</span>
{{/extend}}

{{#extend 'error-message'}}
  請確認你的網路是否正常
  <br>
  如果網路正常，請回報工程師，協助調查此錯誤！
{{/extend}}