<form action="/admin/time" method="POST">
	<label for="room_id">教室：</label>
	<input id="room_id" type="text" name="room_id">

	<label for="week">星期：</label>
	<input id ="week" type="text" name="week">

	<label for="time">時段：</label>
	<input id ="time" type="text" name="time">

	<button type="submit">新增時段</button>
</form>

{{#extend 'title'}}
<title>教室借用系統 - 新增時段</title>
{{/extend}}

{{#extend 'css'}}

{{/extend}}

{{#extend 'scripts'}}

{{/extend}}