{{#extend 'title'}}
<title>高雄NewOne靈糧堂 - 所有教室借用狀況</title>
{{/extend}}

{{#extend 'css'}}

{{/extend}}

{{#extend 'scripts'}}
  <script>
    const navLink = document.querySelectorAll('.nav-link')[0]
    navLink.classList.add('active')
  </script>
{{/extend}}
