{{#extend 'title'}}
<title>高雄NewOne靈糧堂 - 教室借用系統</title>
{{/extend}}

{{#extend 'css'}}

{{/extend}}

{{#extend 'scripts'}}
  <script>
    const navLink = document.querySelector('.nav-link')
    navLink.classList.add('active')
  </script>
{{/extend}}
