<div class="container">
	<form action="/admin/rooms/list/add" method="POST">
		<div class="container-select">
			<label for="room_name">教室：</label>
			<input id="room_name" type="text" name="room_name">

			<button type="submit">新增教室</button>
		</div>
	</form>

	<form action="/admin/rooms/list/delete" method="POST">
		<div class="container-select">
			<label for="room_name">教室：</label>
			<select id="room_name" name="room_name">
				<option value="null">請選擇教室</option>
				{{#each rooms}}
				<option value="{{ this.room_name }}">{{ this.room_name }}</option>
				{{/each}}
			</select>

			<button type="button" onclick="doubleCheck()">刪除教室</button>
		</div>

		<div id="double-check" style="display: none">
			<span>警告：此動作將刪除所有該教室歷史資料</span>
			<button type="submit">確認刪除</button>
		</div>
	</form>
</div>


{{#extend 'title'}}
<title>教室借用系統 - 教室管理</title>
{{/extend}}

{{#extend 'css'}}
<link rel="stylesheet" href="/css/form-card.css">
<link rel="stylesheet" href="/css/rooms-list.css">
{{/extend}}

{{#extend 'scripts'}}
<script src="/js/rooms-list.js"></script>
{{/extend}}