<div class="container-select">
  <label for="room_name">教室：</label>
  <select id="room_name" name="room_name" onchange="location.href = '/admin/rooms/time/delete/' + this.value">
    <option value="">請選擇教室</option>
    {{#each rooms}}
      <option value="{{ this }}">{{ this }}</option>
    {{/each}}
  </select>
</div>

<div class="container-table">
  <table>
    <caption>教室時段表</caption>

    <thead>
      <tr>
        <th></th>
        {{#each timeData.weeks}}
          <th>{{ this }}</th>
        {{/each}}
      </tr>
    </thead>

    <tbody>
      {{#each timeData.times}}
        <tr>
          <td>{{ this }}</td>
          <td>
            <input type="checkbox" disabled>
          </td>
          <td>
            <input type="checkbox" disabled>
          </td>
          <td>
            <input type="checkbox" disabled>
          </td>
          <td>
            <input type="checkbox" disabled>
          </td>
          <td>
            <input type="checkbox" disabled>
          </td>
          <td>
            <input type="checkbox" disabled>
          </td>
          <td>
            <input type="checkbox" disabled>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{#extend 'title'}}
<title>教室借用系統 - 刪除時段</title>
{{/extend}}

{{#extend 'css'}}
<link rel="stylesheet" href="/css/form-card.css">
<link rel="stylesheet" href="/css/rooms-time-delete.css">
{{/extend}}

{{#extend 'scripts'}}
{{/extend}}