<form action="" method="POST">
  <label for="room_name">教室：</label>
  <select id="room_name" name="room_name">
    <option value="null">請選擇教室</option>
    {{#each rooms}}
      <option value={{ this.room_name }}>{{ this.room_name }}</option>
    {{/each}}
  </select>
</form>

{{#extend 'title'}}
<title>教室借用系統 - 教室時段管理</title>
{{/extend}}

{{#extend 'css'}}
{{/extend}}

{{#extend 'scripts'}}
{{/extend}}