{{#with data}}
	<div class="form-wrapper bg-light bg-gradient">
		<div class="wrapper-inner">
			<form action="/admin/rooms/list/add" method="POST">
				<div class="form-input-wrapper">
					<label for="room-name-text">教室：</label>
					<input id="room-name-text" type="text" name="room_name" class="form-control" required>

					<button type="submit" class="btn btn-outline-primary">新增教室</button>
				</div>
			</form>

			<form action="/admin/rooms/list/delete" method="POST">
				<div class="form-input-wrapper">
					<label for="room-name-select">教室：</label>
					<select id="room-name-select" name="room_name" class="form-select" required>
						<option value="">請選擇教室</option>
						{{#each rooms as | room | }}
							<option value="{{ room.room_name }}">{{ room.room_name }}</option>
						{{/each}}
					</select>

					<button type="button" class="btn btn-outline-danger" onclick="doubleCheck()">刪除教室</button>
				</div>

				<div class="double-check">
					<span>您確定要刪除此教室？</span>
					<button type="submit" class="btn btn-danger">確認刪除</button>
				</div>
			</form>
		</div>
	</div>
{{/with}}

{{#extend 'title'}}
<title>教室借用系統 - 教室管理</title>
{{/extend}}

{{#extend 'css'}}
	<link rel="stylesheet" href="/css/rooms-list.css">
	<link rel="stylesheet" href="/css/form-control.css">
{{/extend}}

{{#extend 'scripts'}}
	<script src="/js/getErrorMessage.js"></script>

	<script>
		const navLink = document.querySelectorAll('.nav-link')[1]
		navLink.classList.add('active')
	</script>
	
	<script>
		function doubleCheck () {
			const div = document.querySelector('.double-check')
			
			div.classList.toggle('is-active')
		}
	</script>
{{/extend}}
