.wrapper {
  margin-top: 1.5%;
}

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -5px;
}

.filter-wrapper > * {
  margin: 5px;
}

.filter-wrapper div {
  display: flex;
  align-items: center;
  margin-right: 1%;
}

.filter-wrapper label[for="status"] {
  width: 5.5rem;
}

.filter-wrapper .form-select {
  width: 60%;
}

.filter-wrapper label[for="date"] {
  width: 3.5rem;
}

.filter-wrapper .form-control {
  width: 80%;
}

@media screen and (min-width: 1200px) {
  .table-wrapper {
    width: 45%;
    margin-left: 27.5%;
  }
}

@media screen and (max-width: 1200px) {
  .table-wrapper {
    width: 55%;
    margin-left: 22.5%;
  }
}

@media screen and (max-width: 992px) {
  .table-wrapper {
    width: 65%;
    margin-left: 17.5%;
  }
}

@media screen and (max-width: 768px) {
  .table-wrapper {
    width: 80%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 480px) {
  .table-wrapper {
    width: 90%;
    margin-left: 5%;
  }
}

.times-wrapper p {
  margin-bottom: 7px;
}

.times-wrapper p:last-of-type {
  margin-bottom: 0px;
}

.times-wrapper {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}

.form-details {
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  font-size: 18px;
  position: fixed;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.6);
  transform: scale(0.5);
  transition: 0.4s;
  overflow-y: auto;
}

@media screen and (min-width: 992px) {
  .form-details {
    width: 35%;
    height: 60%;
    top: 20%;
    left: 32.5%;
    padding: 50px;
  }
}

@media screen and (max-width: 992px) {
  .form-details {
    width: 50%;
    height: 70%;
    top: 15%;
    left: 25%;
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  .form-details {
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
    padding: 30px;
  }
}

@media screen and (max-width: 576px) {
  .form-details {
    width: 90%;
    height: 65%;
    top: 15%;
    left: 5%;
  }
}

.is-active {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}

.close-btn::after {
  content: 'x';
  font-weight: 650;
  font-size: 24px;
  position: absolute;
  top: -10px;
  right: 0px;
  padding: 10px;
  cursor: pointer;
}

.form-details span {
  margin-bottom: 15px;
}

.times-wrapper-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.form-details button {
  width: 20%;
}