.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.filter-wrapper div {
  margin-right: 2%;
}

@media screen and (min-width: 768px) {
  .table-wrapper {
    width: 65%;
    margin-left: 17.5%;
  }
}

@media screen and (max-width: 768px) {
  .table-wrapper {
    width: 80%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 576px) {
  .table-wrapper {
    width: 90%;
    margin-left: 5%;
  }
}

.times-wrapper p {
  margin-bottom: 7px;
}

.times-wrapper p:last-of-type {
  margin-bottom: 0px;
}

.times-wrapper {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}

.btn-audit {
  padding: 5px;
  border: 1.5px solid #222222;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s;
}

.btn-audit:hover {
  background-color: #777777;
  color: #FFFFFF;
}

.form-details {
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  font-size: 18px;
  position: fixed;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.6);
  transform: scale(0.5);
  transition: 0.4s;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .form-details {
    width: 60%;
    height: 90%;
    top: 5%;
    left: 20%;
  }
}

@media screen and (max-width: 768px) {
  .form-details {
    width: 80%;
    height: 90%;
    top: 5%;
    left: 10%;
  }
}

@media screen and (max-width: 576px) {
  .form-details {
    width: 90%;
    height: 80%;
    top: 10%;
    left: 5%;
  }
}

.is-active {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}

.close-btn::after {
  content: 'x';
  font-weight: 650;
  font-size: 24px;
  position: absolute;
  top: -10px;
  right: 0px;
  padding: 10px;
  cursor: pointer;
}

.form-details span {
  margin-bottom: 15px;
}

.times-wrapper-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.form-details button {
  width: 20%;
}