.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 25px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 7px 7px 5px #B7B2B2;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
}

.container-select {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input, select {
  background-color:rgba(255, 255, 255, 0.8);
  border: 1px solid #6E6E6E;
  border-radius: 5px;
}

button {
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #6E6E6E;
  border-radius: 5px;
}