.form-details {
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  background-color: #FAFAFA;
  border: 1px solid #999999;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  max-width: 300px;
  width: 100%;
  max-height: 80vh;
  white-space: nowrap;
  padding: 20px 40px 0px;
  transition: 0.25s;
  overflow: auto;
}

.is-active {
  pointer-events: auto;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.form-details > * {
  margin-bottom: 15px;
}

.times-wrapper-form {
  display: flex;
}

.radios label:nth-of-type(1) {
  margin-right: 10px
}

.form-details .result {
  margin: 15px 0;
}