.wrapper {
  margin-top: 1.5%;
}

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: -5px;
}

.filter-wrapper > * {
  margin: 5px;
}

.filter-wrapper > div {
  display: flex;
  align-items: center;
}

.checked:hover {
  cursor: pointer;
}