.loaded {
  display: none;
}

.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  z-index: 1000;
}

.loader-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 170px;
  height: 170px;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -60px 0px 0px -43.5px;
  border: 5px solid transparent;
  border-top-color: #3498DB;
  border-radius: 50%;
  animation: loader 1s linear infinite;
}

.loader::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 12.5px;
  width: 45px;
  height: 45px;
  border: 5px solid transparent;
  border-right-color: #E74C3C;
  border-radius: 50%;
  animation: loader 1s linear infinite;
}

.loader::after {
  content: '';
  position: absolute;
  top: -25px;
  left: -15px;
  width: 100px;
  height: 100px;
  border: 5px solid transparent;
  border-bottom-color: #F9C922;
  border-radius: 50%;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-text-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.loader-text {
  font-size: 18px;
  font-family: 'PT Serif', serif;
  animation: loaderText 1.5s linear infinite;
}

.loader-text:nth-child(2) {
  animation-delay: 0.1s;
}

.loader-text:nth-child(3) {
  animation-delay: 0.2s;
}

.loader-text:nth-child(4) {
  animation-delay: 0.3s;
}

.loader-text:nth-child(5) {
  animation-delay: 0.4s;
}

.loader-text:nth-child(6) {
  animation-delay: 0.5s;
}

.loader-text:nth-child(7) {
  animation-delay: 0.6s;
}

.loader-text:nth-child(8) {
  animation-delay: 0.7s;
}

.loader-text:nth-child(9) {
  animation-delay: 0.8s;
}

.loader-text:nth-child(10) {
  animation-delay: 0.9s;
}

.loader-text:nth-child(11) {
  animation-delay: 1.0s;
}

@keyframes loaderText {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }

  80%, 100% {
    transform: translateY(0px);
  }
}
