html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  background-color: #f5f5f5;
}

.wrapper {
  width: 100%;
  height: 100%;
}

h1 {
  margin-top: 15vh;
}

@media screen and (max-width: 576px) {
  h1 {
    margin-top: 10vh;
  }
}

.form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form .form-control:focus {
  z-index: 2;
}

.form #inputUser, .form #inputUsername {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form #inputPassword {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form input[type="checkbox"] {
  margin-top: 15px;
  margin-right: 5px;
}

button {
  margin-top: 15px;
}