.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.button-wrapper button:last-of-type {
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .button-wrapper {
    flex-direction: row;
    position: absolute;
    right: 2.5%;
  }
  .button-wrapper button:last-of-type {
    margin-top: 0px;
    margin-left: 10px;
  }
}