.wrapper {
  margin-top: 1.5%;
}

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -5px;
}

.filter-wrapper > * {
  margin: 5px;
}

.filter-wrapper > div {
  display: flex;
  align-items: center;
}

.times-wrapper {
  display: flex;
  flex-direction: column;
}

.times-wrapper span {
  margin: 5px 0;
}