.filter-wrapper-outer {
  margin: 2% 0;
}

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -5px;
}

.filter-wrapper > * {
  margin: 5px;
}

.filter-wrapper div {
  margin-right: 2%;
}

.status-wrapper {
  display: flex;
  align-items: center;
}

.status-wrapper label {
  width: 6rem;
}

.status-wrapper .form-select {
  width: 65%;
}

.date-wrapper {
  display: flex;
  align-items: center;
}

.date-wrapper .form-control {
  width: 65%;
}

@media screen and (min-width: 768px) {
  .table-wrapper {
    width: 65%;
    margin-left: 17.5%;
  }
}

@media screen and (min-width: 1050px) {
  .table-wrapper {
    width: 50%;
    margin-left: 25%;
  }
}

@media screen and (min-width: 1300px) {
  .table-wrapper {
    width: 40%;
    margin-left: 30%;
  }
}

@media screen and (max-width: 768px) {
  .table-wrapper {
    width: 80%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 480px) {
  .table-wrapper {
    width: 90%;
    margin-left: 5%;
  }
}


.times-wrapper {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}

p {
  margin: 5px 0px;
}

.form-details {
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  font-size: 18px;
  position: fixed;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.6);
  transform: scale(0.5);
  transition: 0.4s;
  overflow-y: auto;
}

@media screen and (min-width: 1200px) {
  .form-details {
    padding: 40px;
    width: 40%;
    height: 90%;
    top: 5%;
    left: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .form-details {
    padding: 30px;
    width: 50%;
    height: 90%;
    top: 5%;
    left: 25%;
  }
}

@media screen and (max-width: 768px) {
  .form-details {
    width: 70%;
    height: 90%;
    top: 5%;
    left: 15%;
  }
}

@media screen and (max-width: 650px) {
  .form-details {
    width: 80%;
    height: 90%;
    top: 5%;
    left: 10%
  }
}

@media screen and (max-width: 576px) {
  .form-details {
    width: 90%;
    height: 80%;
    top: 5%;
    left: 5%
  }
}

.is-active {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}

.close-btn::after {
  content: 'x';
  font-weight: 650;
  font-size: 24px;
  position: absolute;
  top: -10px;
  right: 0px;
  padding: 10px;
  cursor: pointer;
}

.form-details span {
  margin-bottom: 15px;
}

.times-wrapper-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.input-wrapper {
  margin-top: 5%;
}

.input-wrapper label {
  margin-bottom: 10px;
}

.input-wrapper label[for="result"] {
  margin-top: 10px;
}

.input-wrapper .form-control {
  margin-bottom: -15px;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-wrapper button {
  width: 25%;
}
