.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;
  border: 2px solid #AAAAAA;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.wrapper-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.form-input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-input-wrapper button {
  margin-left: 20px;
}

.double-check {
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  transform: scale(0.7);
  transition: 0.25s;
}

.double-check button {
  margin-top: 3%;
}

.is-active {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}
