.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  padding: 20px;
  border: 2px solid #AAAAAA;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.6);
  z-index: -1;
  overflow-x: auto;
}

.wrapper-inner {
  white-space: nowrap;
}

@media screen and (max-width: 576px) {
  .form-wrapper {
    padding: 7px;
  }
}

.form-input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-input-wrapper button {
  margin-left: 20px;
}

.double-check {
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  transform: scale(0.7);
  transition: 0.25s;
}

.double-check button {
  margin-top: 3%;
}

.is-active {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}
