.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px 10px;
}

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -5px;
}

.filter-wrapper > * {
  margin: 5px;
}

.filter-wrapper > div {
  display: flex;
  align-items: center;
}

.is-active {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}
