#form-details {
  flex-direction: column;
  background-color: #FFFFFF;
  position: fixed;
  width: 90%;
  height: 80%;
  top: 10%;
  left: 5%;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 768px) {
  #form-details {
    padding-top: 10px;
    width: 60%;
    height: 90%;
    top: 5%;
    left: 20%;
  }
}

#form-details span,
#form-details .times-wrapper,
#form-details .purpose-wrapper {
  margin-bottom: 15px;
}

.close-btn::after {
  position: absolute;
  top: -5px;
  right: 10px;
  content: 'x';
  padding: 5px;
  font-size: 22px;
  font-weight: 650;
  cursor: pointer;
}

.times-wrapper {
  display: flex;
}

.times-wrapper #times {
  width: 30%;
}

.purpose-wrapper {
  display: flex;
  align-items: center;
}

#form-details button {
  width: 30%;
}