.container {
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 3% 0% 10% 6%;
  border: 2px solid #AAAAAA;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.6);
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .container {
    top: 40%;
    width: 90%;
    padding: 10% 0% 30% 6%;
  }
}

.container-input:nth-of-type(1) {
  margin-bottom: 5%;
}

input {
  width: 20%;
  margin-right: 3%;
  border: 1.5px solid #222222;
  border-radius: 3px;
}

select {
  background-color: #FFFFFF;
  margin-right: 3%;
  border: 1.5px solid #222222;
  border-radius: 3px;
}

button {
  width: 80px;
  padding: 5px;
  border: 1.5px solid #222222;
  border-radius: 3px;
}

#double-check {
  position: absolute;
  left: 28%;
  display: none;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
