body {
  background: url(/img/bg.jpg) no-repeat;
  background-size: 1800px 840px;
}

@media screen and (max-width: 768px) {
  body {
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 25px 80px 10px;
  }
}

.container-button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.container-button button[type="submit"] {
  margin-right: 15px;
}

#double-check {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}