.container {
  background-color: #CDDCEF;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 3% 0% 10% 6%;
  border: 2px solid #527590;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    padding: 10% 0% 30% 6%;
  }
}

.container-input:nth-of-type(1) {
  margin-bottom: 5%;
}

input {
  width: 20%;
  margin-right: 3%;
  border: 1.5px solid #527590;
  border-radius: 3px;
}

select {
  background-color: #FFFFFF;
  margin-right: 3%;
  border: 1.5px solid #527590;
  border-radius: 3px;
}

button {
  background-color: #F2E1CD;
  padding: 5px;
  border: 1.5px solid #527590;
  border-radius: 3px;
}
