.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  border: 2px solid #AAAAAA;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.6);
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .form-wrapper {
    width: 60%
  }
}

@media screen and (max-width: 992px) {
  .form-wrapper {
    width: 70%
  }
}

@media screen and (max-width: 768px) {
  .form-wrapper {
    width: 80%
  }
}

@media screen and (max-width: 576px) {
  .form-wrapper {
    width: 90%
  }
}

@media screen and (max-width: 412px) {
  .form-wrapper {
    width: 95%
  }
}

.wrapper-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.form-input {
  display: flex;
  align-items: center;
  width: 110%;
}

.form-control {
  width: 40%;
}

.form-select {
  width: auto;
}

.form-input:nth-of-type(1) {
  margin-bottom: 5%;
}

.form-input button {
  margin-left: 5%;
}

.double-check {
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  transform: scale(0.7);
  transition: 0.25s;
}

.double-check button {
  margin-top: 3%;
}

.is-active {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}
