body {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
}

.options-wrapper {
  display: flex;
  width: 38rem;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .options-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: start;
  }

  .options-wrapper div {
    margin-bottom: 10px;
  }

  .options-wrapper button {
    align-self: center;
  }
}

.form-details {
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  font-size: 18px;
  position: fixed;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.6);
  transform: scale(0.5);
  transition: 0.4s;
}

.is-active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

@media screen and (max-width: 768px) {
  .form-details {
    width: 75%;
    height: 90%;
    top: 5%;
    left: 12.5%;
    overflow-y: auto;
  }
}

@media screen and (max-width: 576px) {
  .form-details {
    width: 90%;
    height: 80%;
    top: 5%;
    left: 5%;
  }
}

@media screen and (min-width: 768px) {
  .form-details {
    padding-top: 10px;
    width: 60%;
    height: 90%;
    top: 5%;
    left: 20%;
  }
}

.form-details span,
.form-details .times-wrapper,
.form-details .purpose-wrapper {
  margin-bottom: 15px;
}

.close-btn::after {
  position: fixed;
  top: -5px;
  right: 10px;
  content: 'x';
  padding: 5px;
  font-size: 22px;
  font-weight: 650;
  cursor: pointer;
}

.times-wrapper {
  display: flex;
}

.times-wrapper #times {
  width: 30%;
}

.purpose-wrapper {
  display: flex;
  align-items: center;
}

.form-details button {
  width: 30%;
}

@media screen and (max-width: 576px) {
  .purpose-wrapper {
    flex-direction: column;
    align-items: start;
  }

  .form-details button {
    width: 45%;
  }
}