/** the parent element must be a flex box **/
.table-wrapper {
  font-size: 16px;
  border: 1px solid #555555;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-top: 1.5%;
  margin-bottom: 2%;
  overflow-x: auto;
}

input[name="room_time"] {
  appearance: none;
  position: relative;
  top: 3px;
  width: 18px;
  height: 18px;
  border: 1.5px solid #000000;
  border-radius: 3px;
}

input[name="room_time"]:checked {
  background: #3190E8;
}

input[name="room_time"]:checked::after {
  content: '\2714';
  position: absolute;
  top: -6px;
  left: -3px;
  font-size: 16px;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  input[name="room_time"]:checked::after {
    top: -3px;
    left: 2px;
    font-size: 14px;
  }
}

caption {
  text-align: center;
}

th, td {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

.th-span {
  margin: 0 10px;
}

@media screen and (min-width: 576px) {
  .th-span {
    margin: 0 30px;
  }
}

th:nth-child(1),
td:nth-child(1) {
  border-right: 1px solid #000000;
}

th:nth-child(even),
td:nth-child(even) {
  background: #F2F2F2;
}
