.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  margin-top: 5%;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin-left: 3%;
    align-items: start;
  }
}

.select-wrapper {
  margin-bottom: 1%;
}

button {
  padding: 10px;
  border-radius: 5px;
  margin: 3% 0%;
}

caption {
  text-align: center;
}

th, td {
  text-align: center;
}

th {
  padding: 5px 30px;
  border-bottom: 1px solid #000000;
}

@media screen and (max-width: 768px) {
  th {
    padding: 3px 15px;
  }
}

th:nth-child(1),
td:nth-child(1) {
  border-right: 1px solid #000000;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

tr:last-child() {
  border-bottom: 1px solid #000000;
}

td:nth-child(1) {
  padding: 10px 15px;
}

table {
  border-collapse: collapse;
  border: 1px solid #000000;
}

th:nth-child(even), td:nth-child(even) {
  background-color: #F2F2F2;
}