.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1%;
}

.filter-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

button {
  margin: 3% 0%;
}
