.wrapper {
  margin-top: 1%;
}

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -5px;
}

.filter-wrapper > * {
  margin: 10px 5px;
}

form button {
  margin-bottom: 1%;
}