table, th, td {
  text-align: center;
  border: 1px solid #333333;
}

th {
  padding: 5px 30px;
}

td {
  padding: 5px 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container-select {
  margin-bottom: 3%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 3%;
}