body {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 1%;
}

.select-wrapper {
  margin-bottom: 1%;
}

button {
  padding: 10px;
  border-radius: 5px;
  margin: 3% 0%;
}
