.wrapper {
  margin-top: 1%;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

.filter-wrapper button {
  margin-left: 1.5%;
}

form button {
  margin-bottom: 1%;
}